a {
  color: #a45c23;
  text-decoration: none;
}

a:hover {
  color: #b38b60;
}

.text-primary {
  color: #a45c23 !important;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: #a45c23;
}

.border-primary {
  border-color: #a45c23 !important;
}

.btn-primary {
  color: #000;
  background-color: #b38b60;
  border-color: #b38b60;
}

.btn-primary:hover {
  color: #000;
  background-color: #dcb485;
  border-color: #dcb485;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #000;
  background-color: #dcb485;
  border-color: #dcb485;
  box-shadow: 0 0 0 0.25rem rgba(169, 109, 20, 0.334);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #dcb485;
  border-color: #dcb485;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(169, 109, 20, 0.334);
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #000;
  background-color: #dcb485;
  border-color: #dcb485;
}

.carousel-control-next,
.carousel-control-prev {
  background: #b38b60;
}
